#secretos
.env
*.log

#java /maven
target/
*.class
*.jar
*.war
*.ear
.mtj.tmp/
*.mobileprovision
*.bundle
*.app
.settings/
.classpath
.project
.factorypath

#docker

#IDES
.vscode/
.idea/
*.iml
*.iws

#frontend
node_modules/
dist/
.eslintcache


